<!DOCTYPE html>
<html>
    <head>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        
       

        <link  rel="stylesheet" href= "{{ url_for('static',filename='index.css') }}" type="text/css">
    
    </head>
 
    <body>
      
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img height="32" src="{{url_for('static', filename='logo.png')}}" />
  
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link " aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/engines/values/table" class="nav-link active">Engine Values Table</a></li>
        <li class="nav-item"><a href="/remote" class="nav-link">Remote</a></li>

      </ul>
    </header>
  </div>
  <div class="container">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Engine 1</th>
            <th scope="col">Engine 2</th>
            <th scope="col">Engine 3</th>
            <th scope="col">Engine 4</th>
            <th scope="col">Engine 5</th>
            <th scope="col">Engine 6</th>

          </tr>
        </thead>
        <tbody>
            {% for Engine in Engines %}
          <tr>
              <td>{{ Engine.id}}</td>
              <td>{{ Engine.Engine1 }}</td>
              <td>{{ Engine.Engine2 }}</td>
              <td>{{ Engine.Engine3 }}</td>
              <td>{{ Engine.Engine4 }}</td>
              <td>{{ Engine.Engine5 }}</td>
              <td>{{ Engine.Engine6 }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      
  </div>
  <script>
    window.watsonAssistantChatOptions = {
        integrationID: "bf5a0f42-e6b9-4037-9f09-3af8747daddf", // The ID of this integration.
        region: "eu-gb", // The region your integration is hosted in.
        serviceInstanceID: "66716405-5ba4-4a45-8c25-b6f107a98801", // The ID of your service instance.
        onLoad: function(instance) { instance.render(); }
      };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
      document.head.appendChild(t);
    });
  </script>
  </body>
  </html>